*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'poppins';
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 94px;
  background-color: black;
  padding: 31px 83px;
}
header img {
  width: 92px;
  height: 32px;
  cursor: pointer;
}
.vl{
  border-left: 1px solid white;
  height: 50px;
  
}
header ul{
  display: flex;
  align-items: center;
  gap: 63px;
  justify-content: space-between;
  list-style: none;
  line-height: 24px;
  color: #ffffff;
  margin-right: 800px;
  
 
 
}
ul li{
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}
button
{
  padding: 7px 28px;
  background: #ba0cc5;
  border-radius: 6px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
.Hero-Section
{
  text-align: center;
  background-image: url("./bg.png");
  background-size: cover;
  background-attachment: fixed;
  height: 91.5vh;
 
}
.Hero-Section h1
{
  max-width: 864px;
  margin: 0 auto;
  font-size: 80px;
 padding-top: 172px;
  color: #ffffff;

}
.Hero-Section p{
  font-size: 30px;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 45px;
}
.Hero-Section button{
  background: #ba0cc5;
  border-radius:11.2308px ;
  font-size: 29px;
  padding: 14px 22px;
  font-family: 'poppins';
  font-weight: 900;

}